.home{
    overflow: hidden;
    max-width: 100vw;
      h1{
        margin-top: 0px;
        margin-bottom: 0px;
        position: relative;
        z-index: 999;
        text-align: center;
        color: #fff;
      }
      .topicSelector, .leaderboardSelector{
        position: fixed;
        right: -52px;
        transform: rotate(270deg);
        background: #fff;
        padding: 4px 12px;
        color: #280000;
        border: 1px solid #280000;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        display: flex;
        align-items: center;
        gap: 8px;
        transition: 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
        cursor: pointer;
        top:20%;
        z-index: 999;
        &:hover{
          background: #280000;
          color: #fff;
          border: 1px solid #fff;
        }
      }
      .leaderboardSelector{
        width: fit-content;
        left: -56px;
        top: 20%;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
      }
      .loader{
        margin: auto;
        display: block;
        left: 100px;
        position: absolute;
        width: 300px;
        height: 300px;
      }
      .cardWrap{
        transition: .5s;
        position: relative;
      }
      .flip-enter-active {
        /* transform: translateX(400px); */
      }
      .flip-leave-active {
          transform: translateX(400px) rotate(90deg);
          position: absolute;
          top: 16%;
          opacity: 0;
      }
      .flip-enter-from{
        transform: translateX(0px);
        z-index: -1;
        opacity: 0.5;
      }
      .flip-leave-to {
        /* transform: translateX(100px); */
      }
      .flap-enter-active {
        /* transform: translateX(400px); */
      }
      .flap-leave-active {
          transform: translateX(-400px) rotate(-90deg);
          position: absolute;
          top: 16%;
          opacity: 0;
      }
      .flap-enter-from{
        transform: translateX(0px);
        z-index: -1;
        opacity: 0.5;
      }
      .flap-leave-to {
        /* transform: translateX(100px); */
      }
  }