
// Load fonts outside of imports, because we load imports in all Vue components

@font-face {
    font-family: "Nunito";
    src: local("Nunito"),
     url(../../assets/Nunito/static/Nunito-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Nunito-bold";
    src: local("Nunito"),
     url(../../assets/Nunito/static/Nunito-Bold.ttf) format("truetype");
}

html {
    font-family: "Nunito";
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    padding: 0px;
    background: #222;
    overflow-x: hidden;
    margin-right: -1px;
}
::-webkit-scrollbar {
    // display: none;
}
canvas{
    height: 100px !important;
    // top: 300px !important;
    opacity: 0.5 !important;
    position: relative !important;
    pointer-events: none !important;
}

@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {

    canvas { 
        height: 200px !important;

    }
}}